<!-- web_app/templates/new_tweet.html -->

{% extends "bootstrap_nav_layout.html" %}
{% set active_page = "new_tweet" %}

{% block content %}

    <h1>New Tweet Page</h1>

    <p>Please fill out the form and submit to create a new tweet!</p>

    <form action="/tweets/create" method="POST">

        <label>Tweet:</label>
        <input type="text" name="tweet_title" placeholder="Enter Tweet Here" value="Enter Tweet Here">

        <label>User:</label>
        <select name="user_name">
          <option value="gvanrossum">gvanrossum</option>
          <option value="AndrewYNg">AndrewYNg</option>
          <option value="lexfridman">lexfridman</option>
        </select>

        <button>Submit</button>
    </form>
{% endblock %}