<!-- web_app/templates/new_user.html -->


{% extends "bootstrap_nav_layout.html" %}
{% set active_page = "new_user" %}

{% block content %}
    
    <h1>New User Page</h1>

    <p>Please fill out the form below to add a new Twitter user to the database:</p>

    <!-- Post request -->
    <form action="/users/create" method="POST">

        <label>New Twitter Screen Name:</label>
        <input type="text" name="screen_name" placeholder="elonmusk" value="elonmusk">

        <!-- Button -->
        <button>Submit</button>
    </form>


    {% endblock %}